
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}
.navigation img {
    width: 5rem;
    height: 5rem;
}
.header h1 {
    font-size: 2rem;
    justify-items: center;
}

#settings{
    width: 5rem;
    height: 5rem;
   
}
.list{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    margin-top: 10rem;
}
.list .crit_groceries{
    grid-column: 3/4;
}
.graph-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.graph{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 10rem;
    margin-right: 10rem;
    
    width: 30rem;
    height: 20rem;
}
