body{
    background-color: var(--subpage-color);
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* left | title | right */
    align-items: center;
    width: 100%;
}

.header h2 {
    grid-column: 2;
    justify-self: center;
    margin: 0;
}

.header-icons {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.5rem; /* spacing between icons */
}

.header-icons img {
    width: clamp(3rem, 8vw, 5rem);
    height: clamp(3rem, 8vw, 5rem);
}
.middle_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 5rem;
    gap: 1rem;
}
.pasta{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    max-width: 25rem;
    border: black solid 1px;
}
.chicken_rice{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    max-width: 25rem;
    border: black solid 1px;
}
#button{
    height: 2rem;
    color: white;
    background-color: darkblue
}

