*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--main-color);
}
.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* left | title | right */
    align-items: center;

    
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}
.navigation img {
    width: clamp(3rem, 8vw, 5rem);
    height: clamp(3rem, 8vw, 5rem);
}
.header h1 {
    font-size: 2rem;
    justify-items: center;
}

#settings{
    margin-left: 1rem;
    width: clamp(3rem, 8vw, 3rem);
    height: clamp(3rem, 8vw, 3rem);
   
}
.list{
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 2rem;
    justify-items: center;
    margin-top: 10rem;
    
}
.list div{
    background-color: var(--main-div-color);
    padding: 2rem;
    border-radius: 1rem;

    min-width:  var(--list-minwidth);;
}


.graph-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
   
}
.description{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}
#mobile{
    display: none;
}
@media (max-width: 600px) {
    .list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description{
        display: none;
    }
    #mobile{
        display: block;
        margin-top: 1rem;
        font-size: 2rem;

    }
    #desktop{
        display: none;
    }
}
