main{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}
.settings{
    display :grid;
    grid-template-columns: repeat(2, 1fr);
}
.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
}

.header h1 {
    grid-column: 2;
    justify-self: center;
}

.header a {
    grid-column: 3;
    justify-self: end;
    margin-right: 1rem;
}

.home-icon{
    
    width: 3rem;
    height: 3rem;

}