body{
    background-color: var(--subpage-color);
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* left | title | right */
    align-items: center;
    
}


.header h2 {
    grid-column: 2;
    justify-self: center;
    margin: 0;
}
.header-icons {
    grid-column: 3;
    justify-self: end;
    display: flex;
    gap: 0.5rem;
}


.home-icon{
    width: clamp(3rem, 8vw, 5rem);
    height: clamp(3rem, 8vw, 5rem);
}
hr {
    border-color: var(--hr-color);
    width: var(--hr-width);
}
.main_content {
    
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 5rem;
}
.Section{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    max-width: 25rem;
    border: black solid 1px;
}
.Section label {
    margin: 1rem;
   
}
.Section p{
    font-size: 1.5rem;
}
.Welcome{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    
    font-size: large;
    
}
.Welcome hr{
    width: 100%;
}
#button{
    font-size: 3rem;
    border-radius: 3rem;
    background-color: var(--add_button-color);
    align-items: center;
    justify-content: center;
    color: white;
    width: 3rem;
    height: 3.7rem;
    
}
.add_button{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.add{
    display: flex;
    flex-direction: row;
}
.add input{
    font-size: 1rem;
    margin: 0.5rem;
    width: 10rem;
}
